</article>
<p>&nbsp;</p>
  </td>


    @Html.Partial("_SidePartial")
  </tr>
                                </table>
                            </td>
<td>&nbsp;</td>
                        </tr>
<tr>
    <td style="width:10%">
        &nbsp;
    </td>
    <td style="text-align: right;font-size:11px; color:white;">
        &copy; Krutarth Rao
    </td>
    <td style="width:10%">
        &nbsp;
    </td>
</tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
