<td style="width:225px;text-align:left;vertical-align:top;background-color:darkkhaki">
    <p>
        <img src="../../images/sideBanner.jpg" width="225" height="268" />
    </p>
    <p style="padding-left:10px;">
        <strong>
            Quick Selection
            <br />
            Places <br />
        </strong>
    </p>
    <p style="padding-left:10px;">
        <strong>
            Link to place<br />
        </strong>
    </p>
</td>